{% extends "layout.html" %}

{% block unique_body %}
<div class="about-us-content"> 
    <h1 class="title">About Us</h1>

    <div class="content-wrapper">
        <div class="overlap-group">
            <div class="wrapper">
            <div class="rectangle">
                <div class="text-content">
                    <h1>GVB is Amsterdam through and through</h1>
                    <p>We contribute to accessibility, quality of lifeand mobility for people in Amsterdam and the surrounding area. Travelers are at the center of everything we do.</p>
                </div>
                <div class="image-content">
                    <img src="/static/img/traveller.png" alt="Traveller">
                </div>
            </div>
            </div>

            <div class="overlap">
                <div class="text-wrapper-5">We Are GVB</div>
                <br>
                <br>
                <div class="video-container">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/fDl_SnB3RdQ" title="Verbind de wereld in Amsterdam. Kom werken bij GVB" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="text-wrapper-5">Age of Sustainability</div>
                <br>
                <br>
                <div class="imgcontainer">
                    <img src="/static/img/sustainable.png" alt="Sustainability">
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}