{%extends "layout.html"%}
{%block unique_body%}

<!-- ---------------- Main Content ---------------- -->
    <button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
    <div class="windowsize">
    <!-- ---------------- Section 1 ---------------- -->
    <section class="section1">
        <img src="/static/img/tram.png" alt="Tram Image" class="tram">
        <div class="cta">
            <img src="/static/img/GVB_connect.png" alt="GVB Connect Logo" class="gvb-connect-logo">
            <button>Sign up/ Log in</button>
        </div>
    </section>

    <!-- ---------------- Learn More ---------------- -->
    <div class="learn-more">
        <img src="/static/img/arrow.png" alt="Learn More Arrow">
    </div>

    <!-- ---------------- Section 2 ---------------- -->
    <section class="section2">
        <div class="text-content">
            <h2>Check In<br>Check Out<br>Earn Tokens!</h2>
            <p>Every time you check in with your bank card or OV-chipkaart, you earn Tokens.</p>
            <br>
            <p>Collect enough, and you’ll unlock exclusive rewards. No more guilt trips—just good vibes.</p>
        </div>
        <img src="/static/img/machine.png" alt="Check In Image" class="check-in-image">
    </section>

    <!-- ---------------- Section 4 ---------------- -->
    <section class="section4">
        <h2>Level Up!</h2>
        <img src="/static/img/level.png" alt="Level Up Image" class="level-up-image">
        <h2>Be Rewarded with Discounts, Freebies and More...</h2>
        <div class="rewardsimg"><img src="/static/img/reward.png" alt="Rewards Image" id="rewardsimg"></div>
        <div class="activity">
            <h2>Receive Personal Travel Stats!</h2>
            <img src="/static/img/activity.png" alt="Activity Image">
        </div>
    </section>

    <!-- ---------------- Section 5 ---------------- -->
    <section class="section5">
        <img src="/static/img/tram.png" alt="Tram Image" class="tram-last">
        <div class="text">
            <h1>GVB Connect</h1>
            <p>Unlock Rewards, Ride Responsibly</p>
            <button class="sign-up-btn">SIGN UP</button>
            <a href="https://www.gvb.nl/"><button class="learn-more-btn">LEARN MORE ABOUT US AT GVB</button></a>
        </div>
    </section>
    </div>
    
{%endblock%}