{%extends "layout.html"%}
{%block unique_body%}

<div class="header">
    <h1 class="title">Reward Partners</h1>
    <p class="points">85 Tokens</p>
</div>
<div class="rewards">
    <!-- Repeat this section for each reward partner -->
    <div class="partner">
        <img src="/static/img/cclogo.jpg" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <div class="partner">
        <img src="/static/img/starbucks.png" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <div class="partner">
        <img src="/static/img/ahtogo.png" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <div class="partner">
        <img src="/static/img/kiosk.png" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <div class="partner">
        <img src="/static/img/ddonuts.png" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <div class="partner">
        <img src="/static/img/breakfast.png" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <div class="partner">
        <img src="/static/img/lebkov.png" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <div class="partner">
        <img src="/static/img/julias.png" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <div class="partner">
        <img src="/static/img/cclogo.jpg" alt="Partner Logo">
        <p>10% off your next purchase</p>
    </div>
    <!-- End of repeat -->
</div>

{%endblock%}