{%extends "layout.html"%}
{%block unique_body%}
<section>
    <h1 class="title">Personal Travel Stats</h1>
    <div class="windowsize">
    <div class="activity-container">
        <div class="activity-item">
            <h2>+25 Tokens</h2>
            <p>Tram Line 19</p>
            <p>Diemen Sniep</p>
            <p>Weesperplein to Elandsgracht</p>
            <p>16.03.2024</p>
        </div>
        <div class="activity-item">
            <h2>+5 Tokens</h2>
            <p>Tram Line 14</p>
            <p>Centraal Station</p>
            <p>Javaplein to Artis</p>
            <p>24.02.2024</p>
        </div>
        <div class="activity-item">
            <h2>+40 Tokens</h2>
            <p>Metro Line 51</p>
            <p>Isolatorweg</p>
            <p>Centraal Station to Station Lelylan</p>
            <p>Date Unspecified</p>
        </div>
        <div class="activity-item">
            <h2>+60 Tokens</h2>
            <p>Metro Line 52</p>
            <p>Noord</p>
            <p>Centraal Zuid to Noord</p>
            <p>Date Unspecified</p>
        </div>
    </div>
    </div>
</section>
{%endblock%}